<form>
    <form action="./gallery" method="POST">
    <input type="radio" id="good" name="rating" value="good">
    <label for="male">Good</label><br>
    <input type="radio" id="bad" name="rating" value="bad">
    <label for="female">Bad</label><br>
    <input type="submit" value="Submit">
</form>
