<div class= "wrapper">
    <h1 class= "homeTitle">A collection of 30mm film photos captured by me</h1>
    <img class="homeImage" src="./Images/D009298-R1-07-29.JPG" alt="a photo of people dancing in a bar">
    <h3 class="homeText">China Chalet</h3>
    <h3 class="homeText">NYC, USA (2018)</h3>
</div>
