/* CSS HEX 
--green-yellow: #ccff66ff;
--beau-blue: #bdd4e7ff;
--space-cadet: #2d3142ff;
--pumpkin: #fc7a1eff;
*/

.text {
    font-family: 'Quicksand', sans-serif;
}

.titles {
  margin-left: 65px;
  font-family: 'Quicksand', sans-serif;
}

.homeTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}


.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.photosclass { 
    height: 300px;
    width: auto;
}

li {
    display: inline;
    justify-content: space-around;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }

.nav {
    list-style-type: none;
    text-align: center;
    background-color: #bdd4e7ff;
}

.button {
    border-radius: 5px;
    background-color: #bdd4e7ff;
    border-color: #bdd4e7ff;
}


/* unvisited link */ 
 a:link { 
    color: #fc7a1eff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
  
/* visited link */
a:visited {
    color: #D97B6A; 
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
  
/* mouse over link */
a:hover {
    color: #82A5D9; 
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
  
/* selected link */
a:active {
    color:white; 
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
  


.inner {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.images {
    height: 280px;
    width: auto;   
    margin-top: 8vh;
    padding: 8vh;
  }

  .ratings-section {
      justify-content: center;
      border-style: solid;
      border: #82A5D9;
      margin-left: 65px;
  }

  
  @media only screen and (max-width: 1000px) {
    .container {
      width: 100%;
      margin: 5px;
      flex-grow: 1;
      flex-shrink: 1;
      flex: 1 1 calc(33% - 10px);
    }
  }
  
  @media only screen and (max-width: 800px) {
    .container {
      width: 100%;
      margin: 5px;
      flex-grow: 1;
      flex-shrink: 1;
      flex: 1 1 calc(50% - 10px);
    }
  }
  
  @media only screen and (max-width: 620px) {
    .container {
      width: 100%;
      margin: 5px;
      flex-grow: 1;
      flex-shrink: 1;
      flex: 1 1 calc(100% - 10px);
    }
  }